.app-header {
  background-color: #282c34;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
  margin-bottom: 10px;
}
.no-user, .error-page {
  text-align: center;
  color: red;
  padding: 50px;
  font-size: 25px;
  font-weight: bold;
}
.userDetail td:first-child {
  font-weight: bold;
}
